<div class="container mt-3">
  <div class="row" *ngIf="ready_cloud_data">
    <div class="col-12">
      <div class="card col-12" style="height: 40vh; overflow-y: auto; overflow: auto;">
        <div #cloudword_div>
          <angular-tag-cloud style="margin: auto;"
            [data]="cloud_data"
            [width]="1000"
            [overflow]="false">
          </angular-tag-cloud>
        </div>
        <div class="card-body">
          <h5 class="card-title">Hashtags o palabras clave más utilizadas</h5>
          <p class="card-text" style="text-align: justify;">
            La gráfica que se presenta muestra las palabras clave identificadas en tweets que presentan temas xenofóbicos, las cuales han sido obtenidas mediante el uso de las librerías <a href="https://spacy.io/"><b>spaCy</b></a> y <a href="https://www.nltk.org/"><b>Natural Language Toolkit</b></a> de Python. El tamaño de las palabras en la gráfica indica su frecuencia de uso en los tweets.<br/>
            Para llevar a cabo este análisis, cada tweet fue procesado con la librería <a href="https://spacy.io/"><b>spaCy</b></a> para identificar las palabras clave. Posteriormente, se utilizó la librería <a href="https://www.nltk.org/"><b>Natural Language Toolkit</b></a> para limpiar la lista de palabras clave identificadas, eliminando aquellas que no aportan significado (stopwords).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="ready_tweet_data">
    <div class="col-4">
      <div class="card col-12">
        <div #linechart_div>
          <canvas
            baseChart width="400" height="300"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
          </canvas>
        </div>
        <div class="card-body" style="height: 150px;">
          <h5 class="card-title">Frecuencia de tweets</h5>
          <p class="card-text" style="text-align: justify;">La gráfica muestra la cantidad de tweets clasificados como relacionados a temas xenofóbicos por mes. Utilizamos una red neuronal creada con <a href="https://keras.io/">Keras</a> y entrenada con un dataset de 2000 tweets previamente clasificados.
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card col-12">
        <div #barchart_div>
          <canvas
            baseChart width="400" height="300"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
          </canvas>
        </div>
        <div class="card-body" style="height: 150px;">
          <h5 class="card-title">Tendencias geográficas</h5>
          <p class="card-text" style="text-align: justify;">La gráfica muestra la cantidad de tweets por ubicación geográfica. La etiqueta "NONE" agrupa los tweets donde existe ambigüedad respecto al origen del tweet.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card col-12">
        <div #radarchart_div>
          <canvas
            baseChart width="400" height="300"
            [datasets]="radarChartDatasets"
            [options]="radarChartOptions"
            [labels]="radarChartLabels"
            [type]="'radar'">
          </canvas>
        </div>
        <div class="card-body" style="height: 150px;">
          <h5 class="card-title">Distribución por género</h5>
          <p class="card-text">La gráfica representa el conteo de tweets clasificados como referentes a temas xenófobicos y que se han agrupado según el género de sus autores.</p>
        </div>
      </div>
    </div>
  </div>
</div>
