<!DOCTYPE html>
<html>
    <head>
        <meta name="pdfkit-page-size" content="A4"/>
        <meta name="pdfkit-orientation" content="Portrait"/>
        <meta name="pdfkit-encoding" content="UTF-8"/>
    </head>
    <style>
        .page_break {
            page-break-before: always;
        }
  
        body {
            margin-left: 2cm; 
            margin-right: 1cm;
        }

        .header {
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 4cm;
            background-image: url('http://assets/files/images/header_print.png'), url(data:image/png;base64,{{qr}});
            background-repeat: no-repeat, no-repeat;
            background-position: 0cm 0cm, 3cm 0cm;
            background-size: 100% 4cm, 3.5cm auto;
        }
    </style>
    <body>
        <div class="header"></div>
        
        <div class="footer"></div>
        <div style="text-align: right; width: 100%;">{{fecha}}</div>
        <br/><br/>
        <p style="text-align: justify; width: 100%;"><b style="font-size: 20px;">Hashtags o palabras clave más utilizadas</b><br/>
            La gráfica que se presenta muestra las palabras clave identificadas en tweets xenofóbicos, las cuales han sido obtenidas mediante el uso de las librerías <b>spaCy</b> y <b>Natural Language Toolkit</b> de Python. El tamaño de las palabras en la gráfica indica su frecuencia de uso en los tweets.<br/>
            Para llevar a cabo este análisis, cada tweet fue procesado con la librería <b>spaCy</b> para identificar las palabras clave. Posteriormente, se utilizó la librería <b>Natural Language Toolkit</b> para limpiar la lista de palabras clave identificadas, eliminando aquellas que no aportan significado (stopwords).</p>
        <br/><br/>
        <table style="text-align: center; width: 100%;">
            <tbody>
                <tr>
                    <td><img src="{{hashtags_img}}"/></td>
                </tr>
            </tbody>
        </table>
        <br/><br/>
        <p style="text-align: justify; width: 100%;"><b style="font-size: 20px;">Frecuencia de tweets xenofóbicos</b><br/>
            La gráfica muestra la cantidad de tweets clasificados como xenofóbicos por mes.<br/>
            Utilizamos una red neuronal creada con <b>Keras</b> y entrenada con un dataset de 2000 tweets previamente clasificados para la tarea.</p>
        <br/><br/>
        <table style="text-align: center; width: 100%;">
            <tbody>
                <tr>
                    <td><img src="{{lines_chart}}" style="width: auto; height: 600px;"/></td>
                </tr>
            </tbody>
        </table>
        <div class="page_break">
            <div class="header"></div>
        </div>
        <p style="text-align: justify; width: 100%;"><b style="font-size: 20px;">Tendencias geográficas</b><br/>
            La gráfica muestra la cantidad de tweets por ubicación geográfica. La etiqueta "NONE" agrupa los tweets donde el usuario no especificó un país en la configuración de ubicación. Es posible que algunos tweets hayan sido emitidos desde una ubicación diferente a la establecida en la configuración.</p>
        <br/><br/>
        <table style="text-align: center; width: 100%;">
            <tbody>
                <tr>
                    <td><img src="{{bars_chart}}" style="width: auto; height: 600px;"/></td>
                </tr>
            </tbody>
        </table>
        <br/><br/>
        <p style="text-align: justify; width: 100%;"><b style="font-size: 20px;">Distribución por género</b><br/>
            La gráfica representa el conteo de tweets clasificados como xenófobos y que se han agrupado según el género de sus autores.</p>
        <br/><br/>
        <table style="text-align: center; width: 100%;">
            <tbody>
                <tr>
                    <td><img src="{{radar_chart}}" style="width: auto; height: 600px;"/></td>
                </tr>
            </tbody>
        </table>
        <div class="page_break">
            <div class="header"></div>
        </div>
        <p style="text-align: justify; width: 100%;"><b style="font-size: 20px;">Tweets clasificados como Xenofóbicos en este mes</b><br/></p>
        <table style="text-align: left; width: 100%;">
            {% for tweet in tweets %}
            {% if loop.index % 60 == 0  %}
            </table>  
            <div class="page_break">
            <div class="header"></div>
            </div>
            <div style="width: 100%; height: 20px;"></div>
            <table style="text-align: left; width: 100%;">
            {% endif %}
            <tr>
                <td>{{tweet.text}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>