<input type="file" (change)="upload_tweets($event)" #file_tweets [hidden]="true">
<input type="file" (change)="upload_hashtags($event)" #file_hashtags [hidden]="true">
<div class="row mt-5 mb-2">
  <h1 class="col-12" style="text-align: left;">Clasificación de Tweets</h1>
  <div class="col-12" style="text-align: letf;">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-primary" (click)="download_tweets()"><i class="fas fa-download"></i><i class="fab fa-twitter"></i> Descargar Tweets</button>
      <button type="button" class="btn btn-outline-primary" (click)="download_hashtags()"><i class="fas fa-download"></i><i class="fas fa-spell-check"></i> Descargar Hashtags</button>
    </div>
    <div class="btn-group" role="group" style="margin-left: 10px;">
      <button type="button" class="btn btn-outline-success" (click)="file_tweets.click()"><i class="fas fa-upload"></i><i class="fab fa-twitter"></i> Cargar Tweets</button>
      <button type="button" class="btn btn-outline-success" (click)="file_hashtags.click()"><i class="fas fa-upload"></i><i class="fas fa-spell-check"></i> Cargar Hashtags</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Número
          </th>
          <th>
            Texto
          </th>
          <th>
            Clasificación
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>
            <select class="form-select" [(ngModel)]="filter" (change)="filter_change()">
              <option selected value="all">Todos</option>
              <option value="Pendiente">Pendiente</option>
              <option value="Xenofóbico">Xenofóbico</option>
              <option value="Normal">Normal</option>
            </select>
          </td>
        </tr>
        <tr *ngFor="let tweet of tweets_shown">
          <th> {{tweet.tweet_id}} </th>
          <td> {{tweet.text}} </td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-warning" *ngIf="tweet.clasificado !== 'Pendiente'" (click)="classify_tweet(tweet.tweet_id, 'Pendiente')">Pendiente</button>
              <button type="button" class="btn btn-warning" *ngIf="tweet.clasificado == 'Pendiente'">Pendiente</button>
              <button type="button" class="btn btn-outline-danger" *ngIf="tweet.clasificado !== 'Xenofóbico'" (click)="classify_tweet(tweet.tweet_id, 'Xenofóbico')">Xenofóbico</button>
              <button type="button" class="btn btn-danger" *ngIf="tweet.clasificado == 'Xenofóbico'">Xenofóbico</button>
              <button type="button" class="btn btn-outline-success" *ngIf="tweet.clasificado !== 'Normal'" (click)="classify_tweet(tweet.tweet_id, 'Normal')">Normal</button>
              <button type="button" class="btn btn-success" *ngIf="tweet.clasificado == 'Normal'">Normal</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
