<div class="row">
  <div class="col-4">
    <label for="initial_date" class="form-label">Fecha Inicial</label>
    <input type="date" class="form-control" id="initial_date" name="initial_date"
      placeholder="Fecha Inicial" [ngModel]="initial_date | date: 'y-MM-dd'"
      (ngModelChange)="initial_date = $event"/>
  </div>
  <div class="col-4">
    <label for="final_date" class="form-label">Fecha Final</label>
    <input type="date" class="form-control" id="final_date" name="final_date"
      placeholder="Fecha Final" [ngModel]="final_date | date: 'y-MM-dd'"
      (ngModelChange)="final_date = $event"/>
  </div>
  <div class="col-4">
    <label for="search_button" class="form-label">Búsqueda de Tweets</label>
    <button type="button" class="form-control btn btn-primary" id="search_button" (click)="buscar_tweets()"><i class="fas fa-search"></i> Buscar</button>
  </div>
</div>
