.main_container {
  position: relative;
  margin-top: 55px;
  overflow-x: hidden;
  overflow-y: auto;
}
.wallpaper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
